body {
	font: bold 11px/1.5em Verdana;
	}

h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:bold;
	margin:0;
	padding-left:50px;
	}

#wrap{
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    width:1200px;
    }

#postbox {
    float:left;
    font-size:15px;
    padding:10px;
    width:50%;
    }

#posts {
    float:left;
    font-size:15px;
    padding:10px;
    width:50%;
    }
